<div class="post">
  <h1>All Posts</h1>
  <hr class="hr">
  <% @posts.order(:created_at => :desc).each do |post| %>
    <%= link_to post.title, post %><br>
      <%= post.body %><br>
      <% person = post.likes.count == 1 ? "person" : "people" %><br>
      <p><%= "<span id=\"like#{post.id}\">#{post.likes.count}</span> #{person}".html_safe%> likezies this</p>
      <hr>
  <% end %>
</div>
