<%= render 'post' %>

<input type="button" value="Buttocks"/>

<div class="buttocks">

</div>

<script>
  $("input").on("click", function(){
    $(".buttocks").html("<p>We love Buttocks!</p>");
  });

</script>